@model IEnumerable<ClinicaMedica.Models.Entidades.Consulta>

<div class="container tableContainer">
    <div class="col-md-12">
        <h5 class="tituloConsulta">
            Consultas Agendadas
        </h5>
    </div>
    <div class="col-md-12">
        <table id="" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DataConsulta)
                    </th>
                    <th>
                        Paciente
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataConsulta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Paciente.Nome)
                        </td>
                        @if (item.Status == 1)
                        {
                            <td>
                                <button class="btn btn-primary confirmar" data-id="@item.ConsultaId">
                                    Confirmar
                                </button>
                            </td>
                        }
                        @if (item.Status == 2)
                        {
                            <td>
                                <a class="btn btn-success" href="@Url.Action("Consultar", "Consultas", new { id = @item.ConsultaId })">
                                    Consultar
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>