@model ClinicaMedica.Models.Entidades.RemedioPrescrito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RemedioPrescrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remedio.NomeGenerico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remedio.NomeGenerico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posologia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RemedioPrescritoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
