@model ClinicaMedica.Models.Entidades.RemedioPrescrito

@{
    Layout = null;
    ViewBag.Title = "Edit";
}


<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Editar prescrição:  @Html.DisplayFor(model => model.Remedio.NomeFabrica) (@Html.DisplayFor(model => model.Remedio.NomeFabrica)) </h4>
            </div>

            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.RemedioPrescritoId)
                    @Html.HiddenFor(model => model.PacienteId, new { Value = @ViewBag.remedioPrescrito.PacienteId })
                    @Html.HiddenFor(model => model.RemedioId, new { Value = @ViewBag.remedioPrescrito.RemedioId })
                    @Html.HiddenFor(model => model.MedicoId, new { Value = @ViewBag.remedioPrescrito.MedicoId })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Posologia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Posologia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Posologia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>
        }
    </div>
</div>



